# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [72]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv') # load data

print('Rows:', df.shape[0], 'Columns:', df.shape[1]) # print number of rows and columns

Rows: 4008 Columns: 11

In [73]:
df.head() # data preview

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [74]:
# transform column headers: replace white space w/ "_" & lower case
cols1 = []
for column in df.columns:
    cols1.append(column.lower().replace(' ', '_'))
df.columns = cols1

In [75]:
print(df.info()) # print column data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   object
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   object
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None

### Column data type check
Column|OK/NOK|New data type|Missing values?
-------|-------|-------|------
customer|OK||NO
st|OK||NO
gender|OK||YES
education|OK||NO
customer_lifetime_value|NOK|float|YES
income|OK||NO
monthly_premium_auto|OK||NO
number_of_open_complaints|NOK|integer|NO
policy_type|OK||NO
vehicle_class|OK||NO
total_claim_amount|OK||NO

In [76]:
# check unique values for every column
for col in df.columns:
    display(df[col].value_counts())

RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: customer, Length: 1071, dtype: int64

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: st, dtype: int64

F         457
M         413
Male       39
female     28
Femal      17
Name: gender, dtype: int64

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: education, dtype: int64

445811.34%     4
251459.20%     4
272535.64%     3
578018.22%     3
684615.03%     3
              ..
245357.08%     1
507566.27%     1
321497.94%     1
1227534.31%    1
899704.02%     1
Name: customer_lifetime_value, Length: 1027, dtype: int64

0.0        252
43860.0      4
17622.0      4
36650.0      3
14072.0      3
          ...
29486.0      1
58557.0      1
25632.0      1
18768.0      1
54230.0      1
Name: income, Length: 774, dtype: int64

65.0     47
63.0     39
71.0     37
67.0     37
73.0     37
         ..
177.0     1
181.0     1
276.0     1
253.0     1
199.0     1
Name: monthly_premium_auto, Length: 132, dtype: int64

1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: number_of_open_complaints, dtype: int64

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: vehicle_class, dtype: int64

321.600000    19
331.200000    15
312.000000    14
350.400000    14
316.800000    12
              ..
421.484456     1
430.505942     1
7.646763       1
55.510526      1
207.320041     1
Name: total_claim_amount, Length: 761, dtype: int64

### Categorical/Numerical check
Column|Categorical/Numerical|Cleaning observations|Unique values after cleaning
-------|-------|-------|------
st|categorical|homogenize to state code|5
gender|categorical|homogenize to "m" or "f"|2
education|categorical||6
customer_lifetime_value|numerical
income|numerical
monthly_premium_auto|numerical
number_of_open_complaints|numerical|change format to match integer
policy_type|categorical||3
vehicle_class|categorical||6
total_claim_amount|numerical

### Summary insights for categorical columns

In [83]:
cat_columns = ['st','gender','education','policy_type','vehicle_class'] # list of categorical columns

for col in cat_columns: # display unique value counts for categorical columns
    display(df[col].value_counts())

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: st, dtype: int64

F         457
M         413
Male       39
female     28
Femal      17
Name: gender, dtype: int64

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: education, dtype: int64

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: vehicle_class, dtype: int64

### Summary insights for numerical columns

+ average customer income is \$39296
+ average customer premium auto is \$193 with a very large range
+ 75\% of customers pay less than \$110
+ average total claim amount is \$405 - more than 2x the monthly premium auto

In [78]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
income,1071.0,39295.701214,30469.427060,0.000000,14072.000000,36234.000000,64631.0,99960.000000
monthly_premium_auto,1071.0,193.234360,1601.190369,61.000000,68.000000,83.000000,109.5,35354.000000
total_claim_amount,1071.0,404.986909,293.027260,0.382107,202.157702,354.729129,532.8,2893.239678

# Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [79]:
df['st'].value_counts().tail().sort_values(ascending = True)

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: st, dtype: int64

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [92]:
df_75 = df[df['total_claim_amount'] > df['total_claim_amount'].quantile(0.75)]

display(df_75.describe().T)

for col in cat_columns: # display unique value counts for categorical columns
    display(df_75[col].value_counts())
    #display((df_75[col].value_counts()/df[col].count())*100) # display percentage

,count,mean,std,min,25%,50%,75%,max
income,264.0,23677.344697,27013.483721,0.0,0.000000,18807.000000,42423.75,99316.000000
monthly_premium_auto,264.0,165.193182,623.930992,63.0,99.000000,114.000000,133.25,10202.000000
total_claim_amount,264.0,782.228263,292.751640,537.6,606.521741,679.597985,851.40,2893.239678

Oregon        90
California    65
Arizona       40
Nevada        29
Cali          21
WA            10
AZ             9
Name: st, dtype: int64

F         115
M         100
Male       16
female      5
Femal       2
Name: gender, dtype: int64

Bachelor                85
High School or Below    85
College                 82
Master                   8
Doctor                   4
Name: education, dtype: int64

Personal Auto     191
Corporate Auto     60
Special Auto       13
Name: policy_type, dtype: int64

SUV              101
Four-Door Car     69
Two-Door Car      33
Sports Car        31
Luxury SUV        19
Luxury Car        11
Name: vehicle_class, dtype: int64

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [112]:
display(df['policy_type'].value_counts())
print("Policy type with highest number of policies sold:", df['policy_type'].value_counts().idxmax())

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

Policy type with highest number of policies sold: Personal Auto

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [131]:
df_pac = df[df['policy_type'] == 'Personal Auto'].loc[:, ['policy_type','income']]
df_cap = df[df['policy_type'] == 'Corporate Auto'].loc[:, ['policy_type','income']]

print('Average Personal Auto income is:', df_pac['income'].mean().round())
print('Average Corporate Auto income is:', df_cap['income'].mean().round())

Average Personal Auto income is: 38181.0
Average Corporate Auto income is: 41390.0